.header {
    position:fixed;
    width: 100%;
    z-index:100;
    height:70px;
    background-color:white;
}

.logo{
    width:80px;
    height:25px;
    padding:30px;
}

.header-wrap {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav ul{
    display: flex;
}

.header-nav li{
    margin-right: 35px;
    font-size: 16px;
    list-style: none;
}

.header-nav a{
    color: black;
    font-weight: bold;
    text-decoration:none;
}

#eyecatch {
    height: 270px;
    background:url("../img/mv.png");
    background-size: cover;
    background-position: center;
    position:relative;
    color:white;
    text-align:center;
    margin-bottom: 70px;
    z-index: 50;
}

#eyecatch p{
    font-size: 30px;
    font-weight:bold;
    line-height:350px;
}

.company-table {
    width: 1000px;
    margin: 0 auto;
    font-size: 18px;
    padding-bottom: 110px;
    padding-top:20px;
}


.company-table tr {
    border-top:1px solid black;
    border-bottom:1px solid black;
    border-right: none;
    border-left:none;
}

.company-table th {
    padding-right:80px;
    padding-left: 100px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.company-table td {
    padding-right: 550px;
}

@media screen and (max-width: 768px){
    .company-table{
        width: 85%;
    }

    .company-table tr {
        padding-right: 70%;
    }

    .company-table th {
        padding: 0 50px 0 50px;
    }

    .company-table td {
        padding-right: ;
    }
}

footer{
    color: white;
}

.footer-concept {
    height:50px;
    background-color: black;
    color:white;
    line-height:50px;
    font-size:10px;
    display: flex;
    justify-content: space-between;
}

.copyright{
    padding-left:20px;
}

.footer-list {
    margin-right: 30px;
}

.footer-list ul{
    margin-left:- 1px;
}

.footer-list li {
    list-style:none;
    padding: 0 10px;
    display: inline;
    border-left: 1px solid white;
}

.footer-list li:first-child {
    border-left: none;
}

.footer-list a {
    color:white;
    text-decoration: none;
    height:20px;
}

.contact{
    height:300px;
    background-color: rgb(238, 235, 235);
    text-align: center;
    margin-top:0px;
}

.contact h2 {
    font-size: 30px;
    padding-top: 50px;
    padding-bottom:30px;
}

.contact-btn {
    height:45px;
    width:350px;
    background-color:rgb(243, 20, 20);
    margin: 0 auto;
    text-align: center;
    transition: background-color 0.8s;
    margin-top: 50px;
    margin-bottom: 40px;
    
}

.contact-btn-text {
    color:white;
    text-decoration: none;
    line-height: 45px;
}

.contact-btn a {
    padding:25px;
    padding-right:130px;
    padding-left: 120px;
}

.contact-btn:hover{
    background-color: rgb(238, 170, 170);
}

@media screen and (max-width:768px) {

    .copyright {
        padding-top: 120px;
        padding-left: 120px;
    }

    .footer-concept {
        height: 280px;
        line-height:30px;
        font-size:13px;
    }

    .footer-list li {
        display:block;
        border:none;
    }

    .footer-list{
        padding-right: 120px;
        padding-top:40px;
    } 
    
}