.header {
    position:fixed;
    width: 100%;
    z-index:100;
    height:70px;
    background-color:white;
}

.logo{
    width:80px;
    height:25px;
    padding:30px;
}

.header-wrap {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav ul{
    display: flex;
}

.header-nav li{
    margin-right: 35px;
    font-size: 16px;
    list-style: none;
}

.header-nav a{
    color: black;
    font-weight: bold;
    text-decoration:none;
}

#eyecatch {
    height: 270px;
    background:url("../img/mv.png");
    background-size: cover;
    background-position: center;
    position:relative;
    color:white;
    text-align:center;
    margin-bottom: 70px;
    z-index: 50;
}

#eyecatch p{
    font-size: 30px;
    font-weight:bold;
    line-height:350px;
}


.footer{
    color: white;
}

.footer-concept {
    height:50px;
    background-color: black;
    color:white;
    line-height:50px;
    font-size:10px;
    display: flex;
    justify-content: space-between;
}

.copyright{
    padding-left:20px;
}
.footer-list {
    margin-right: 30px;
}


.footer-list ul{
    margin-left:- 1px;
}

.footer-list li {
    list-style:none;
    padding: 0 10px;
    display: inline;
    border-left: 1px solid white;
    
}

.footer-list a {
    color:white;
    text-decoration: none;
    height:20px;
}

.footer-list li:first-child {
    border-left: none;
}

.contact-form {
    width:1000px;
    margin: 0 auto;
}

.contact-form ul {
    display: block;
}

.contact-form li {
    list-style:none;
}

.contact-input {
    padding-right: 800px;
    border:1px solid rgb(204, 198, 198);
}

.contact-text {
    padding-right:800px;
    padding-bottom:120px;
    border:1px solid rgb(204, 198, 198);
    margin-bottom: 30px;
}

.contact-label{
    font-weight:bold;
    line-height:30px;
}

.contact-button {
    background-color:black;
    color:white;
    padding: 10px 140px;
    font-weight:bold;
    font-size:17px;
}

.button {
    text-align:center;
    padding-bottom: 80px;
}

.contact-form li {
    padding-top: 20px;
}

.contact-form sup {
    color:red;
    padding-left:4px;
}

@media screen and (max-width:768px) {

    .copyright {
        padding-top: 120px;
        padding-left: 120px;
    }

    .footer-concept {
        height: 280px;
        line-height:30px;
        font-size:13px;
    }

    .footer-list li {
        display:block;
        border:none;
    }

    .footer-list{
        padding-right: 120px;
        padding-top:40px;
    } 
    
}