.header {
    position:fixed;
    width: 100%;
    z-index:100;
    height:70px;
    background-color:white;
}

.logo{
    width:80px;
    height:25px;
    padding:30px;
}

.header-wrap {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav ul{
    display: flex;
}

.header-nav li{
    margin-right: 35px;
    font-size: 16px;
    list-style: none;
}

.header-nav a{
    color: black;
    font-weight: bold;
    text-decoration:none;
}

@media screen and (max-width:768px){
    #hamburger {
        width: 40px;
        height: 40px;
        position: absolute;
        cursor:pointer;
        z-index: 100;
        top: 15px;
        right: 20px;
        color:black;
    }

    #hamburger span {
        position:absolute;
        left: 2px;
        display: block;
        width: 35px;
        height: 2px;
        background-color: black;
        transition:0.8s;
    }

    #hamburger span:nth-of-type(1){
        top: 10px;
    }
    #hamburger span:nth-of-type(2){
        top: 20px;
    }
    #hamburger span:nth-of-type(3){
        top: 30px;
    }

    .header-nav {
        display: none;
    }
}


#eyecatch {
    height: 270px;
    background:url("../img/mv.png");
    background-size: cover;
    background-position: center;
    position:relative;
    color:white;
    text-align:center;
    margin-bottom: 70px;
    z-index: 50;
}

#eyecatch p{
    font-size: 30px;
    font-weight:bold;
    line-height:350px;
}


.footer{
    color: white;
}

.footer-concept {
    height:50px;
    background-color: black;
    color:white;
    line-height:50px;
    font-size:10px;
    display: flex;
    justify-content: space-between;
}

.copyright{
    padding-left:20px;
}
.footer-list {
    margin-right: 30px;
}


.footer-list ul{
    margin-left:- 1px;
}

.footer-list li {
    list-style:none;
    padding: 0 10px;
    display: inline;
    border-left: 1px solid white;
    
}

.footer-list a {
    color:white;
    text-decoration: none;
    height:20px;
}

.footer-list li:first-child {
    border-left: none;
}

.form{
    width: 75%;
    margin: 0 auto;
}

.contact-form ul {
    display: block;
}

.contact-form li {
    list-style:none;
}

.contact-input {
    width: 100%;
    border:1px solid rgb(204, 198, 198);
    line-height:20px;
}

.contact-text {
    width: 100%;
    padding-bottom:120px;
    border:1px solid rgb(204, 198, 198);
    margin-bottom: 30px;
    padding-top: 10px;
}

.contact-label{
    font-weight:bold;
    line-height:30px;
}

.contact-button {
    background-color:black;
    color:white;
    padding: 10px 140px;
    font-weight:bold;
    font-size:17px;
}

.button {
    text-align:center;
    padding-bottom: 80px;
}

.contact-form li {
    padding-top: 20px;
}

.contact-form sup {
    color:red;
    padding-left:4px;
}

@media screen and (max-width: 768px){
    .contact-form{
        width: 85%;
        margin: 0 auto;
    }
}

@media screen and (max-width:768px) {

    .copyright {
        padding-top: 120px;
        padding-left: 120px;
    }

    .footer-concept {
        height: 280px;
        line-height:30px;
        font-size:13px;
    }

    .footer-list li {
        display:block;
        border:none;
    }

    .footer-list{
        padding-right: 120px;
        padding-top:40px;
    }    
}

@media screen and (max-width:542px){
    .footer-concept {
        display: block;
        text-align: center;
    }

    .copyright{
    padding: 0;
}

    .footer-list {
        width: 100%;
       text-align:center;
       padding-right: 0;
    }
}