header {
    height:100px;
    background-color:white;
    
}

.header {
    height:70px;
    position:fixed;
    width: 100%;
    z-index:99;
}

.logo{
    width:80px;
    height:25px;
    padding:30px;
}

.header-wrap {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav ul{
    display: flex;
}

.header-nav li{
    margin-right: 35px;
    font-size: 16px;
    list-style: none;
}

.header-nav a{
    color: black;
    font-weight: bold;
    text-decoration:none;
}

@media screen and (max-width:768px){
    #hamburger {
        width: 40px;
        height: 40px;
        position: absolute;
        cursor:pointer;
        z-index: 100;
        top: 15px;
        right: 20px;
        color:black;
    }

    #hamburger span {
        position:absolute;
        left: 2px;
        display: block;
        width: 35px;
        height: 2px;
        background-color: black;
        transition:0.8s;
    }

    #hamburger span:nth-of-type(1){
        top: 10px;
    }
    #hamburger span:nth-of-type(2){
        top: 20px;
    }
    #hamburger span:nth-of-type(3){
        top: 30px;
    }

    .header-nav {
        display: none;
    }


}

/* ここからアイキャッチ */

#eyecatch {
    height:80vh;
    background: url("../img/mv.png");
    background-size: cover;
    background-position: center;
    position:relative;
    z-index: 50;
}

.eyecatch-text {
    color:white;
    top:50%;
    left:8%;
    right:8%;
    margin: 0 auto;
    position: absolute;
    display: block;
    text-align: center;
    line-height: 85px;
}

.eyecatch-text h1 {
    font-size: 50px;
}

.eyecatch-text p {
    font-size: 20px;
    margin-top:-20px;
}

#eyecatch-bottom {
    color: white;
    background-color: black;
    height:300px;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.eyecatch-bottom-text {
    position:absolute; 
    left:5%;
    top:20%;
    text-align: left;
}

.eyecatch-bottom-text h2 {
    font-size: 30px;
    padding:20px 0  20px 0;
}

.eyecatch-bottom-text p{
    width:95%;
    line-height:22px;
} 

@media screen and (max-width:542px) {
    #eyecatch-bottom{
        height: 400px;
    }

    #eyecatch{
        height: 85vh;
    }
}


/* ここからservice */

.service-title {
    text-align:center;
    font-size:30px;
    padding-top:70px;
    padding-bottom: 30px;   
}

.service-content {
    width: 45%;
    padding: 10px;
}

.service-content img {
    width:100%;
    height:330px;
}

.service-list {
    display: flex;
    flex-wrap:wrap;
    /* align-items: center; */
    width:95%;
    margin-left:6%;
    margin-right: 3%;
}

.service-content h2 {
    padding:10px 0;
    font-size: 20px;
}

.service-content p{
    line-height: 20px;
}

.service-btn {
    height:50px;
    width:350px;
    background-color:rgb(243, 20, 20);
    margin: 0 auto;
    text-align: center;
    transition: background-color 0.8s;
}

.service-btn-text{
    color:white;
    text-decoration:none;
    line-height: 50px;
    font-weight:bold;
    
}

.service-btn a {
    padding:25px;
    padding-right:95px;
    padding-left: 95px;
}

.service-btn:hover {
    background-color: rgb(241, 152, 149);
}

@media screen and (max-width:768px) {
    .service-content  {     
        width: 90%;
    }
}

/* ここからニュース */

.news {
    margin-top: 40px;
    padding-top:40px;
    height:400px;
    width:100%;
    background-color: black;
}

.news-title {
    display: flex;
    justify-content: space-between;
}

.news-title h1 {
    font-size:30px;
    padding-top:30px;
    padding-left:53px;
    color:white;
    padding-bottom:20px;

}

.news-btn {
    height:35px;
    width:180px;
    background-color:rgb(231, 55, 55);
    margin-top: 30px;
    text-align: center;
    margin-right:53px;
    font-weight: bold;
    transition: background-color 0.8s;
}

.news-btn a{
    padding-top:15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left:15px;
}

.news-btn:hover {
    background-color:rgb(238, 170, 170);
}

.news-title a {
    color:white;
    text-decoration:none;
    line-height: 34PX;

}

.news-text{
    height:60px;
    width:1100px;
    background-color: white;
    margin: 10px auto;
    display:flex;
}

.news-text p {
    padding: 10px;
    line-height:40px;
}

.news-text-bold {
    font-weight:bold;
}

.news-content a {
    text-decoration:none;
    color:black;
    transition: 0.8s;
}

.news-a:hover{
    background-color: rgb(223, 223, 223);
    opacity:0.7s;

}

@media screen and (max-width: 768px){
    .news-text {
        width: 85%;
    }
}



/* ここからブログ */

.blog {
    width: 1100px;
    margin: 0 auto;
}

.blog h1 {
    text-align: center;
    padding:60px 30px 20px 30px;
    font-size:30px;
}

.blog img {
    width:350px;
    height: auto; 
}

.blog-list {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    
}

.blog-content {  
    padding:10px;
    width: 30%;
    padding-right: 25px;
}

.blog-content h2 {
    font-size: 18px;
}

.blog-content p{
    padding: 10px 0;
}

.blog-btn {
    height:50px;
    width:350px;
    background-color:rgb(243, 20, 20);
    margin: 0 auto;
    text-align: center;
    transition: background-color 0.8s;
    margin-top: 20px;
    margin-bottom: 40px;
}
.blog-btn a{
    padding:25px;
    padding-right:95px;
    padding-left: 95px;
}

.blog-btn:hover {
    background-color:rgb(238, 170, 170);
}

.blog-btn-text {
    color:white;
    text-decoration:none;
    line-height: 50px;
    font-weight:bold;
}

@media screen and (max-width: 768px) {
    .blog  {
        width: 85%;
        margin: 0 auto;
    }

    .blog-list {
        display: block;
    }

    .blog-content {
        width: 100%;
        height: auto;
        padding: 0 5% 5px 0;
    }

    .blog img {
        width: 100%;
    }
}



.concept {
    display: flex;
    align-items:center;
    color:white;
    font-size: 24px;
    font-weight: bold;
    padding: 80px 0;
}

.company{
    width: 50%;
}

.company-btn {
    display:inline-block;
    width: 100%;
    line-height: 10;
    text-align:center;
    background-color: rgb(247, 52, 52);
    transition: 0.3s;
}

.company-btn:hover {
    background-color:rgb(247, 202, 202);
}


.concept a {
    color: white;
    text-decoration: none;
}

.recruit {
    width: 50%;
}

.recruit-btn {
    display: inline-block;
    width: 100%;
    line-height:10;
    text-align: center;
    background-color: black;
    transition:0.3s;    
}

.recruit-btn:hover {
    background-color: rgb(197, 195, 195);
}

/* ここからお問合せ */

.contact{
    height:260px;
    background-color: rgb(238, 235, 235);
    text-align: center;
    margin-top:80px;
}

.contact h2 {
    font-size: 30px;
    padding-top: 50px;
    padding-bottom:20px;
}

.contact-btn {
    height:45px;
    width:350px;
    background-color:rgb(243, 20, 20);
    margin: 0 auto;
    text-align: center;
    transition: background-color 0.8s;
    margin-top: 30px;
    margin-bottom: 40px;
    
}

.contact-btn-text {
    color:white;
    text-decoration: none;
    line-height: 45px;
}

.contact-btn a {
    padding:25px;
    padding-right:130px;
    padding-left: 120px;
}

.contact-btn:hover{
    background-color: rgb(238, 170, 170);
}

/* ここからfooter */

.footer{
    color: white;
}

.footer-concept {
    height:50px;
    background-color: black;
    color:white;
    line-height:50px;
    font-size:10px;
    display: flex;
    justify-content: space-between;
}

.copyright{
    padding-left:20px;
}

.footer-list {
    margin-right: 30px;
}

.footer-list ul{
    margin-left:- 1px;
}

.footer-list li {
    list-style:none;
    padding: 0 10px;
    display: inline;
    border-left: 1px solid white;
    
}

.footer-list a {
    color:white;
    text-decoration: none;
    height:20px;
}

.footer-list li:first-child {
    border-left: none;
}

@media screen and (max-width:768px) {

    .copyright {
        padding-top: 120px;
        padding-left: 120px;
    }

    .footer-concept {
        height: 280px;
        line-height:30px;
        font-size:13px;
    }

    .footer-list li {
        display:block;
        border:none;
    }

    .footer-list{
        padding-right: 120px;
        padding-top:40px;
    }    
}

@media screen and (max-width:542px){
    .footer-concept {
        display: block;
        text-align: center;
    }

    .copyright{
    padding: 0;
}

    .footer-list {
        width: 100%;
       text-align:center;
       padding-right: 0;
    }
}