.header {
    position:fixed;
    width: 100%;
    z-index:100;
    height:70px;
    background-color:white;
}

.logo{
    width:80px;
    height:25px;
    padding:30px;
}

.header-wrap {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav ul{
    display: flex;
}

.header-nav li{
    margin-right: 35px;
    font-size: 16px;
    list-style: none;
}

.header-nav a{
    color: black;
    font-weight: bold;
    text-decoration:none;
}

@media screen and (max-width:768px){
    #hamburger {
        width: 40px;
        height: 40px;
        position: absolute;
        cursor:pointer;
        z-index: 100;
        top: 15px;
        right: 20px;
        color:black;
    }

    #hamburger span {
        position:absolute;
        left: 2px;
        display: block;
        width: 35px;
        height: 2px;
        background-color: black;
        transition:0.8s;
    }

    #hamburger span:nth-of-type(1){
        top: 10px;
    }
    #hamburger span:nth-of-type(2){
        top: 20px;
    }
    #hamburger span:nth-of-type(3){
        top: 30px;
    }

    .header-nav {
        display: none;
    }
}


#eyecatch {
    height: 270px;
    background:url("../img/mv.png");
    background-size: cover;
    background-position: center;
    position:relative;
    color:white;
    text-align:center;
    margin-bottom: 70px;
    z-index: 50;
}

#eyecatch p{
    font-size: 30px;
    font-weight:bold;
    line-height:350px;
}



.recruit-info-text {
    width: 1000px;
    margin: 0 auto;
}

.recruit-info-text h1 {
    font-size :30px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.recruit-info-text p {
    padding-top: 20px;
    padding-bottom: 20px;
}

.recruit-info-table {
    width: 82%;
    border: 1px solid black;
    margin-top: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 100px;
}

.recruit-info-table table {
    width: 100%;
}

.recruit-info-table:first-child{
    border-top: none;
}

.recruit-info-table th {
    font-weight: bold;
    width:30%;
    border-right: 1px solid black;
    background-color :rgb(241, 240, 240);
    border-top: 1px solid black;
    margin: 0 auto;
}

.recruit-info-table td {
    width: 70%;
    border-top:1px solid black;
    padding: 15px 100px 15px 10px ;
}

@media screen and (max-width: 768px){
    .recruit-whole {
        width: 85%;
        margin: 0 auto;
    }

    .recruit-info-table {
        margin-left: 0px;
    }

    .recruit-info-text {
        width: 100%;
    }
}

.footer{
    color: white;
}

.footer-concept {
    height:50px;
    background-color: black;
    color:white;
    line-height:50px;
    font-size:10px;
    display: flex;
    justify-content: space-between;
}

.copyright{
    padding-left:20px;
}
.footer-list {
    margin-right: 30px;
}


.footer-list ul{
    margin-left:- 1px;
}

.footer-list li {
    list-style:none;
    padding: 0 10px;
    display: inline;
    border-left: 1px solid white;
    
}

.footer-list a {
    color:white;
    text-decoration: none;
    height:20px;
}

.footer-list li:first-child {
    border-left: none;
}

.contact{
    height:300px;
    background-color: rgb(238, 235, 235);
    text-align: center;
    margin-top:0px;
}

.contact h2 {
    font-size: 30px;
    padding-top: 50px;
    padding-bottom:30px;
}

.contact-btn {
    height:45px;
    width:350px;
    background-color:rgb(243, 20, 20);
    margin: 0 auto;
    text-align: center;
    transition: background-color 0.8s;
    margin-top: 50px;
    margin-bottom: 40px;
    
}

.contact-btn-text {
    color:white;
    text-decoration: none;
    line-height: 45px;
}

.contact-btn a {
    padding:25px;
    padding-right:130px;
    padding-left: 120px;
}

.contact-btn:hover{
    background-color: rgb(238, 170, 170);
}

@media screen and (max-width:768px) {

    .copyright {
        padding-top: 120px;
        padding-left: 120px;
    }

    .footer-concept {
        height: 280px;
        line-height:30px;
        font-size:13px;
    }

    .footer-list li {
        display:block;
        border:none;
    }

    .footer-list{
        padding-right: 120px;
        padding-top:40px;
    } 
    
}

@media screen and (max-width:542px){
    .footer-concept {
        display: block;
        text-align: center;
    }

    .copyright{
    padding: 0;
}

    .footer-list {
        width: 100%;
       text-align:center;
       padding-right: 0;
    }
}